       <script src="js/appointments-handler.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <!--FORM-->
        <div class=" column level p-3 mr-6">

          <h1 class="title is-3">Appointments</h1>

          <div id="showDate" class="level card card-header p-3" >

             <div id="creator" class="x is-fullwidth">
                 <a href="#" id="create-btn" class=" button is-info m-1 myButton">Create</a>
            </div>

            <div class="level">
              <label class="is-size-5 p-2" for="currentDate">Date:</label>

                    <input class="is-size-5 input" type="date" id="currentDate"
                    
                    min="2021-01-01" max="2030-12-31">
                    
            </div>

              
          </div>

         

          <div id="table">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    
                    <th>Start time</th>
                    <th>End Time</th>
                    <th>Patient</th>
                    <th>Service</th>
                    <th>Actions</th>
                    
                  </tr>

                  <tbody id="datesTable">
                    
                    {{#each Appointments}}
                      {{>appointments-block}}
                    {{/each}}  

                </thead>
                
          </div>
      
        </div>

        <!--Modals-->

        <!--Create Modal-->
        <div id="createModal" class="modal card">
        <div class="modal-content">
        <span class="closeCreate">&times;</span>
        
        <div class=" column level p-3 mr-6">

          <h1 class="is-size-1">Appointment Creation</h1>

          <div class="field level level-left">
           
            <div class="control">
              <label class="label">Start Time</label>
              <input class="input" id="start" type="time" id="appt" name="appt"
                  min="09:00" max="18:00" required>
               </input>
            </div>

            <div class="control mr-3">
              <label class="label">End Time</label>
              <input class="input" id="end" type="time" id="appt" name="appt"
                 min="09:00" max="18:00" required>
               </input>
            </div>

          </div>

          <div class="field">
          
            <div class="control">
              <label class="label">Patient</label>
              <input id="patient" class="input patients" list="patientList" name="browser">
              <datalist id="patientList">
                
              </datalist>
            </div>

            <div class="control">
              <label class="label">Service</label>

              <input id="service" class="input services" list="serviceList" name="browser">
              <datalist id="serviceList">
                
              </datalist>
            </div>

            <h1 class="has-text-danger is-size-5" id="errorMsg"></h1>

          </div>

          <div class="is-mobil level-right is-narrow">
            <a id="cancelCreate" class="button is-info m-1 myButton">Cancel</a>
            <a id="saveCreate" class="button is-info m-1 myButton">Save</a>
          </div>

        </div>
      </div>
        </div>

          <!--View Modal-->
        
        <div id="viewModal" class="modal card">
        <div class="modal-content">
        <span class="closeView">&times;</span>
        
        <div class=" column level p-3 mr-6">

          <h1 class="is-size-1">Appointment View</h1>

          <div class="field level level-left">
           
            <div class="control">
              <label class="label">Start Time</label>
              <input class="input" id="startView" type="time" id="appt" name="appt"
                  min="09:00" max="18:00" required>
               </input>
            </div>

            <div class="control mr-3">
              <label class="label">End Time</label>
              <input class="input" id="endView" type="time" id="appt" name="appt"
                 min="09:00" max="18:00" required>
               </input>
            </div>

          </div>

          <div class="field">
          
            <div class="control">
              <label class="label">Patient</label>
              <input id="patienView" class="input patients" list="patientList" name="browser">
             
            </div>

            <div class="control">
              <label class="label">Service</label>

              <input id="serviceView" class="input services"  name="browser">
              
            </div>

          </div>

          <div class="is-mobil level-right is-narrow">
            <a id="closeView" class="button is-info m-1">Close</a>
            
          </div>

        </div>
      </div>
        </div>

            <!--Edit Modal-->
        
        <div id="editModal" class="modal card">
        <div class="modal-content">
        <span class="closeEdit">&times;</span>
        
        <div class=" column level p-3 mr-6">

          <h1 class="is-size-1">Appointment Edition</h1>

          <div class="field level">
            
             <div>
                <label class="label mr-3">Date</label>

                    <input class="input" type="date" id="editionDate"
                    
                    min="2021-01-01" max="2030-12-31">
                    
            </div>

            <div class="control">
              <label class="label">Start Time</label>
              <input class="input" id="startEdit" type="time" id="appt" name="appt"
                  min="09:00" max="18:00" required>
               </input>
            </div>

            <div class="control mr-3">
              <label class="label">End Time</label>
              <input class="input" id="endEdit" type="time" id="appt" name="appt"
                 min="09:00" max="18:00" required>
               </input>
            </div>

          </div>

          <div class="field">
          
            <div class="control">
              <label class="label">Patient</label>
              <input id="patientEdit" class="input patients" list="patientList" name="browser">
              <datalist id="patientList">
                
              </datalist>
            </div>

            <div class="control">
              <label class="label">Service</label>

              <input id="serviceEdit" class="input services" list="serviceList" name="browser">
              <datalist id="serviceList">
                
              </datalist>
            </div>

          </div>
           <h1 class="has-text-danger is-size-5" id="errorMsgEdit"></h1>
          <div class="is-mobil level-right is-narrow">
            <a id="cancelEdit" class="button is-info m-1 myButton">Cancel</a>
            <a id="saveEdit" class="button is-info m-1 myButton">Save</a>
          </div>

        </div>
      </div>
        </div>
         
        
        <!--Delete Modal-->
        <div id="delete-prompt" class="modal card">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="closeDeletion">&times;</span>

            <div class="">
              <h1>Are you sure you want to delete</h1>
              <div class="level">
                <a id="cancelDel" class="button is-info m-1 myButton">Cancel</a>
                <a id="deleteBtn" class="button is-info m-1 myButton">Delete</a>

              </div>
            </div>
            
            
          </div>
        
        </div>

        
       

