<!--FORM-->
        <div class=" column is-half">

          <h1 class="is-size-1">Calendar</h1>
      
        <input type="date" id="main-calendar" data-display-mode="inline" data-is-range="true" data-close-on-select="false">


        </div>

    <script>
        // Initialize all input of date type.
    const calendars = bulmaCalendar.attach('[type="date"]', {});

    // Loop on each calendar initialized
    calendars.forEach(calendar => {
	// Add listener to select event
	calendar.on('select', date => {
		console.log(date);
    calendar.on('select', time => {
		console.log(time);
	});
    });
    });

    // To access to bulmaCalendar instance of an element
    const element = document.querySelector('#main-calendar');
    console.log(element)
    if (element) {
	// bulmaCalendar instance is available as element.bulmaCalendar
	element.bulmaCalendar.on('select', datepicker => {
		console.log(datepicker.data.value());
	});
    }
    </script>


