<script src="js/user-handler.js"></script>

 <div class=" column is-half">

          <h1 class="is-size-1">Welcome</h1>

          <h2 class="is-size-1"><span class="user-name"> is logged in! </span></h2>

        </div>

            <div class="columns is-mobil level-item is-narrow fade">
                <a id="loginBtn" class="button is-info is-inverted m-1" href="/logout">Log Out</a>
             </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
