        <!--FORM-->
        <script src="js/login.js"></script>
      

   
     <!--LogIn-->
    <div id="login" class="column">

       <div class="columns is-vcentered">
           <!--LogIn-->
          <div class="column is-mobil level-item mt-0 fade">
          
          </div>

          <div class="column is-mobil level-item is-narrow mt-0 fade">

          <div class="field my-1">
            <div class="control mt-0">
              <input class="input is-primary mt-0" type="text" placeholder="User">
            </div>
            </div>  

            <div class="field">
              <div class="control">
                <input class="input is-primary" type="text" placeholder="Password">
              </div>
            </div> 


          </div>
          
          <div class="column is-mobil level-item fade">
          
          </div>
        </div>

        <div class="columns is-mobil level-item is-narrow fade">
          <a id="loginBtn" class="button is-info is-inverted m-1 myButton">Log In</a>
          <a class="button is-info is-inverted m-1 myButton">Sign Up</a>
        </div>

       
       <!--end-->
            
       
      </div>

   