        <!--FORM-->
        <div class=" column level p-3 mr-6">

          <h1 class="is-size-1">Patients</h1>
          <div id="creator" class="card card-header is-fullwidth">
            <a id="create-btn" class="button is-info m-1">Create</a>
            <div class="create-form">

            </div>
          </div>

          <div id="table">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Actions</th>
                    
                  </tr>

                  <tbody>
                    <tr>
                      <th>1</th>
                      <th>Marcela</th>
                      <th>dupeyron</th>
                      <th>E-mail</th>
                      <th class="level">
                        
                        <i id="view-icon" class="fas fa-eye -mx-1 bview"></i>
                        <i  id="edit-icon" class="far fa-edit mx-1 bedit"></i>
                        <i  id="delete-icon" class="fas fa-trash -mx-1 bdelete"></i>
                      </th>
                     
                    </tr>
                </thead>
                
          </div>
      
        </div>

        <!--Modals-->

        <!--Create Modal-->
        <div id="myModal" class="modal card">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            
            <div class=" column level p-3 mr-6">

              <h1 class="is-size-1">Patient Creation</h1>
    
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input id="user_name" class="input" type="text" placeholder="e.g Marcela">
                </div>
              </div>
    
              <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                  <input id="user_last_name" class="input" type="text" placeholder="e.g Dupeyron">
                </div>
              </div>
              
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input id="user_email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                </div>
              </div>
    
                 
              <div class="is-mobil level-right is-narrow">
                <a id="cancelCreate" class="button is-info m-1">Cancel</a>
                <a id="savePatient" class="button is-info m-1">Save</a>
              </div>
    
            </div>
          </div>
        
        </div>

          <!--Edit Modal-->
          <div id="editModal" class="modal card">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="closeEdit">&times;</span>
              
              <div class=" column level p-3 mr-6">
  
                <h1 class="is-size-1">Patient Edit</h1>
      
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input id="user_name" class="input" type="text" placeholder="e.g Marcela">
                  </div>
                </div>
      
                <div class="field">
                  <label class="label">Last Name</label>
                  <div class="control">
                    <input id="user_last_name" class="input" type="text" placeholder="e.g Dupeyron">
                  </div>
                </div>
                
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input id="user_email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                  </div>
                </div>
      
                   
                <div class="is-mobil level-right is-narrow">
                  <a id="cancelEdit" class="button is-info m-1">Cancel</a>
                  <a id="savePatientEdit" class="button is-info m-1">Save Changes</a>
                </div>
      
              </div>
            </div>
          
          </div>

        <!--View Modal-->
        <div id="viewModal" class="modal card">


          <div class="modal-content">
            <span class="closeView">&times;</span>
            
            <div class=" column level p-3 mr-6">

              <h1 class="is-size-1">Patient Name</h1>
    
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input id="user_name" class="input" type="text" placeholder="e.g Marcela">
                </div>
              </div>
    
              <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                  <input id="user_last_name" class="input" type="text" placeholder="e.g Dupeyron">
                </div>
              </div>
              
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input id="user_email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                </div>
              </div>
    
                 
              <div class="is-mobil level-right is-narrow">
                <a id="exitView" class="button is-info m-1">exit</a>
                
              </div>
    
            </div>
          </div>
        
        </div>
        
        <!--Delete Modal-->
        <div id="delete-prompt" class="modal card">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="closeDeletion">&times;</span>

            <div class="">
              <h1>Are you sure you want to delete</h1>
              <div class="level">
                <a id="cancelDel" class="button is-info m-1">Cancel</a>
                <a id="deleteBtn" class="button is-info m-1">Delete</a>

              </div>
            </div>
            
            
          </div>
        
        </div>

        
