        <!--FORM-->
        <script src="js/patientHandler.js"></script>
        <div class=" column level p-3 mr-6 easein">

          <h1 class="title is-3">Patients</h1>
          <div id="creator" class="card card-header is-fullwidth">
            <a href="#" id="create-btn" class="button is-info m-1 myButton">Create</a>
            <div class="create-form">

            </div>
          </div>

          <div id="table easein">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Actions</th>
                    
                  </tr>

                  <tbody>
                    
                      
                      {{#each Patients}}
                        
                        {{>patient_block}}

                       {{/each}}
                       

                    
                </thead>
                
          </div>
      
        </div>

        <!--Modals-->

        <!--Create Modal-->
        <div id="myModal" class="modal card">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            
            <div class=" column level p-3 mr-6">

              <h1 class="is-size-1">Patient Creation</h1>
    
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input id="patient_name" class="input" type="text" placeholder="e.g Marcela">
                </div>
              </div>
    
              <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                  <input id="patient_last_name" class="input" type="text" placeholder="e.g Dupeyron">
                </div>
              </div>
              
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input id="patient_email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                </div>
              </div>

              <div class="field">
                <label class="label">Phone Number</label>
                <div class="control">
                  <input id="patient_phone" class="input" type="text" placeholder="5555555555">
                </div>
              </div>

              <div class="field">
                <label class="label">Sex</label>
                <div class="control">
                  <input id="patient_sex" class="input" type="text" placeholder="">
                </div>
              </div>

{{!-- <div class="dropdown is-active">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Sex</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a href="#" class="dropdown-item">
          Dropdown item
        </a>
        <a class="dropdown-item">
          Other dropdown item
        </a>
      </div>
    </div>
  </div> --}}


              <div class="field">
                <label class="label">Age</label>
                <div class="control">
                  <input id="patient_age" class="input" type="number" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">Previous diseases</label>
                <div class="control">
                  <input id="patient_diseases" class="input" type="text" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">Current medication</label>
                <div class="control">
                  <input id="patient_medication" class="input" type="text" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">Allergies</label>
                <div class="control">
                  <input id="patient_allergies" class="input" type="text" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">Observations</label>
                <div class="control">
                  <input id="patient_observations" class="input" type="text" placeholder="">
                </div>
              </div>
    
                 
              <div class="is-mobil level-right is-narrow">
                <a href="#" id="cancelCreate" class="button is-info m-1 myButton">Cancel</a>
                <a href="#" id="savePatient" class="button is-info m-1 myButton">Save</a>
              </div>
    
            </div>
          </div>
        
        </div>

          <!--Edit Modal-->
          <div id="editModal" class="modal card">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="closeEdit">&times;</span>
              
              <div class=" column level p-3 mr-6">
  
                
              <h1 class="is-size-1">Patient Edition</h1>
    
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input id="edit_patient_name" class="input" type="text" placeholder="e.g Marcela">
                </div>
              </div>
    
              <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                  <input id="edit_patient_last_name" class="input" type="text" placeholder="e.g Dupeyron">
                </div>
              </div>
              
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input id="edit_patient_email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                </div>
              </div>

              <div class="field">
                <label class="label">Phone Number</label>
                <div class="control">
                  <input id="edit_patient_phone" class="input" type="text" placeholder="5555555555">
                </div>
              </div>

              <div class="field">
                <label class="label">Sex</label>
                <div class="control">
                  <input id="edit_patient_sex" class="input" type="text" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">Age</label>
                <div class="control">
                  <input id="edit_patient_age" class="input" type="text" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">Previous diseases</label>
                <div class="control">
                  <input id="edit_patient_diseases" class="input" type="text" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">Current medication</label>
                <div class="control">
                  <input id="edit_patient_medication" class="input" type="text" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">Allergies</label>
                <div class="control">
                  <input id="edit_patient_allergies" class="input" type="text" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">Observations</label>
                <div class="control">
                  <input id="edit_patient_observations" class="input" type="text" placeholder="">
                </div>
              </div>
    
                 
              <div class="is-mobil level-right is-narrow">
                <a href="#" id="cancelEdit" class="button is-info m-1 myButton">Cancel</a>
                <a href="#" id="saveEdit" class="button is-info m-1 myButton">Save</a>
              </div>
    
            </div>
          </div>
          
          </div>

        <!--View Modal-->
        <div id="viewModal" class="modal card">


          <div class="modal-content">
            <span class="closeView">&times;</span>
            
            <div class=" column level p-3 mr-6">

              <h1 id="view_patient_name" class="is-size-1">Patient Name</h1>
  
              <div class="field">
                <label class="label">Sex</label>
                <div class="control">
                  <p id="view_patient_sex" class="card"></p>
                </div>
              </div>

              <div class="field">
                <label class="label">Age</label>
                <div class="control">
                  <p class="card p-1" id="view_patient_age"></p>
                </div>
              </div>

              <div class="field">
                <label class="label">Previous diseases</label>
                <div class="control">
                  <p class="card p-1" id="view_patient_diseases"></p>
                </div>
              </div>

              <div class="field">
                <label class="label">Current medication</label>
                <div class="control">
                  <p class="card p-1" id="view_patient_medication"></p>
                </div>
              </div>

              <div class="field">
                <label class="label">Allergies</label></p>
                <div class="control">
                  <p class="card p-1" id="_view_patient_allergies">
                </div>
              </div>

              <div class="field">
                <label class="label">Observations</label>
                <div class="control">
                  <p class="card p-1" id="view_patient_observations"></p>
                </div>
              </div>

               <div class="field">
                <label class="label">Email: <p class="card p-1" id="view_patient_email"></p></label>
                </div>

                <div class="field">
                <label class="label">Phone: <p class="card p-1" id="view_patient_phone"></p></label>
              </div>

              <a id="exitView" class="button is-info m-1">Exit</a>
    
            </div>
          </div>
        
        </div>
        
        <!--Delete Modal-->
        <div id="delete-prompt" class="modal card">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="closeDeletion">&times;</span>

            <div class="">
              <h1>Are you sure you want to delete</h1>
              <div class="level">
                <a href="#" id="cancelDel" class="button is-info m-1 myButton">Cancel</a>
                <a href="#" id="deleteBtn" class="button is-info m-1 myButton">Delete</a>

              </div>
            </div>
            
            
          </div>
        
        </div>

        
