 <!--FORM-->
        <div class=" column level p-3 mr-6">

          <h1 class="title is-3">User Creation</h1>

          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input id="user_name" class="input" type="text" placeholder="e.g Marcela">
            </div>
          </div>

          <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <input id="user_last_name" class="input" type="text" placeholder="e.g Dupeyron">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input id="user_email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input id="user_password" class="input" type="text">
            </div>
          </div>

          <div class="field">
            <label class="label"> Repeat Password</label>
            <div class="control">
              <input id="user_password2" class="input" type="text">
            </div>
          </div>

          <div class="is-mobil level-right is-narrow">
            <a class="button is-info m-1 myButton">Cancel</a>
            <a class="button is-info m-1 myButton">Sign Up</a>
          </div>

        </div>

        
